<div class="pusher">
  <div id="home" class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a href="#home">
          <img class="ui small image" src="https://dl.dropboxusercontent.com/u/10703333/athenasol/images/logo_small.png" style="height:70px; width:70px" >
        </a>
        <a class="toc item mobile-only" style="padding-bottom:25px; padding-left: 48px;"><i class="sidebar icon"></i></a>
        <a class="item computer-only" style="padding-bottom:25px; padding-left: 48px;" href="#home">Home</a>
        <a class="item computer-only" style="padding-bottom:25px" href="#projects">Projects</a>
        <a class="item computer-only" style="padding-bottom:25px"  href="#contactus">Contact</a>
      </div>
    </div>
    <div class="ui text container">
      <img class="ui huge image" src="https://dl.dropboxusercontent.com/u/10703333/athenasol/images/logo.png" style="margin-top: 125px;padding-bottom: 25px;">
      <h2  class="ui inverted header" style="color:grey;">
        <i>"This is the portfolio website of the developers whom are associated with Athena Solutions."</i>
      </h2>
      <h4 class="ui horizontal divider header">
        <a id="projectbutton" class="ui huge teal button" href="#projects">Portfolio</a>
      </h4>
      <h4 class="ui horizontal hidden divider header"></h4>
    </div>
  </div>
  <div id="projects" class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui center aligned vertical segment Projects">
    <h1>PROJECTS</h1>
    <div class="ui container">
      <div class="ui three stackable cards">
        <div class="card">
          <div class="image"><img class="ui medium bordered image" src="https://dl.dropboxusercontent.com/u/10703333/athenasol/images/mutualmind.png"></div>
          <div class="content">
          <a class="header">MUTUALMIND</a>
          <div class="meta"><a target="_blank" href="http://www.mutualmind.com/">http://www.mutualmind.com/</a></div>
          <div class="description">Mutualmind helps online businesses to integrate with social media and help improve their sales and business with the help of analysis reports and web analytics.</div>
          </div>
          <div class="extra content">Python, Django</div>
        </div>
        <div class="card">
          <div class="image"><img src="https://dl.dropboxusercontent.com/u/10703333/athenasol/images/inkl.png"></div>
          <div class="content">
            <a class="header">Inkl</a>
            <div class="meta">
              <a target="_blank" href="https://www.inkl.com/">https://www.inkl.com/</a>
            </div>
            <div class="description">
              Inkl gives you access to the most trusted news titles around the world. Inkl partners with the world’s best publishers, to deliver this global viewpoint to you. So, rather than having to jump from site to site, you get all the reliable journalism you need in one place.
            </div>
          </div>
          <div class="extra content">
            Slim, Coffeescript, Ruby 2, Rails 4, TDD (Test Driven Development), BDD (Behavior Driven Development)
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img class="ui medium bordered image" src="https://dl.dropboxusercontent.com/u/10703333/athenasol/images/pintrips.png">
          </div>
          <div class="content">
            <a class="header">Pin Trips</a>
            <div class="meta">
              <a target="_blank" href="https://www.pintrips.com/">https://www.pintrips.com/</a>
            </div>
            <div class="description">
              The easiest way to Plan Travel. Use the "Pin" Button to save flights from any travel site. With the Pintrips Pin Button, you can shop around for flights and pin the ones you want to save into a personal trip board.
            </div>
          </div>
          <div class="extra content">Ruby On Rails, Coffeescript, Javascript/Jquery</div>
        </div>
      </div>

      <div class="ui three stackable cards">
        <div class="card">
          <div class="image">
            <img class="ui medium bordered image" src="https://dl.dropboxusercontent.com/u/10703333/athenasol/images/wave.png">
          </div>
          <div class="content">
            <a class="header">Wave Connections</a>
            <div class="meta">
              <a target="_blank" href="http://stage.waveconnections.com/">http://stage.waveconnections.com/</a>
            </div>
            <div class="description">
              Push-to-Talk for Business Critical Communications. The WAVE Web Communicator is a feature-rich web application that allows any office-based or mobile worker with a PC and internet connection communicate with other WAVE Connections users.
            </div>
          </div>
          <div class="extra content">
            Ruby, Rails, Jquery, Pusher, Feed Reading, Required Data Scraping From Feeds
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img class="ui medium bordered image" src="https://dl.dropboxusercontent.com/u/10703333/athenasol/images/chimpchamp.png">
          </div>
          <div class="content">
            <a class="header">Chimpchamp</a>
            <div class="meta">
              <a target="_blank" href="https://www.chimpchamp.com">https://www.chimpchamp.com</a>
            </div>
            <div class="description">
              Your MailChimp Champions! We’ve got an automatic syncing tool with configurable rules, and WordPress plugin, a Gumroad integration and an awesome subscribe form tool and many more features. We truly are your MailChimp Champions!
            </div>
          </div>
          <div class="extra content">
            Slim, Coffeescript, Ruby 2, Rails 4, TDD (Test Driven Development), BDD (Behavior Driven Development)
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img class="ui centered medium image" src="https://dl.dropboxusercontent.com/u/10703333/athenasol/images/memofire.png">
          </div>
          <div class="content">
            <a class="header">Memofire</a>
            <div class="meta">http://www.memofire.com</div>
            <div class="description">
              Study less: Learn more. Want to Learn Faster? Memofire makes it easy to capture what you want to remember, and learn it fast using research based technology.
            </div>
          </div>
          <div class="extra content">
            Javascript, BDD (Behavior Driven Development), Git, Github, Heroku
          </div>
        </div>
      </div>

      <div class="ui three stackable cards">
        <div class="card">
          <div class="image"><img src="https://dl.dropboxusercontent.com/u/10703333/athenasol/images/redrover.png"></div>
          <div class="content">
            <a class="header">RedOver</a>
            <div class="meta"><a target="_blank" href="https://redrover.co">https://redrover.co</a></div>
            <div class="description">
              RedRover is a fast and fun way to search through all of the top-notch activities in your town. Find kid-friendly event listings tailored just for you and your family. The result is pure delight: a real help to parents who wants to give their kids the best day ever.
            </div>
          </div>
          <div class="extra content">
            Elastic Search, Nokogiri, Ruby, Rails, Ember.Js, Jquery, Imagemagik, TDD (Test Driven Development), BDD (Behavior Driven Development), Heroku
          </div>
        </div>
        <div class="card">
          <div class="image">
          <img class="ui medium bordered image" src="https://dl.dropboxusercontent.com/u/10703333/athenasol/images/cww.png">
          </div>
          <div class="content">
            <a class="header">College Without Walls</a>
            <div class="meta">
              <a target="_blank" href="http://www.collegewithoutwalls.com.au">http://www.collegewithoutwalls.com.au</a>
            </div>
            <div class="description">
              College Without Walls is the future of collages. Access your course material and submit your assessments anywhere and any time that suits you.
            </div>
          </div>
          <div class="extra content">
            Cross Platform Compatibility Testing, TDD (Test Driven Development), Backbone.Js, Responsive Css With Scss, Font Awesome, Heroku
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img class="ui centered medium image" src="https://dl.dropboxusercontent.com/u/10703333/athenasol/images/startupspk.png">
          </div>
          <div class="content">
            <a class="header">Startups</a>
            <div class="meta">
              <a target="_blank" href="http://www.startups.pk">http://www.startups.pk</a>
            </div>
            <div class="description">
              Open directory of Pakistani Startups. List of all Pakistani startups, companies, their products, people related to these startups.
            </div>
          </div>
          <div class="extra content">
            Click To Copy Widget, Startups Widget, Javascript
          </div>
        </div>
      </div>

      <div class="ui three stackable cards">
        <div class="card">
          <div class="image">
            <img src="https://dl.dropboxusercontent.com/u/10703333/athenasol/images/pethomestay.png">
          </div>
          <div class="content">
            <a class="header">PetHomeStay</a>
            <div class="meta">
              <a target="_blank" href="https://www.pethomestay.com.au">https://www.pethomestay.com.au</a>
            </div>
            <div class="description">
            Find Trusted, Local Pet Sitters. Only PetHomeStay has Free Pet Accident Cover, 24x7 Support & Vetted Hosts.
            </div>
          </div>
          <div class="extra content">
            Elastic Search, Nokogiri, Ruby, Rails, Ember.Js, Jquery, Imagemagik, TDD (Test Driven Development), BDD (Behavior Driven Development), Heroku
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="https://dl.dropboxusercontent.com/u/10703333/athenasol/images/inspireamz.png">
          </div>
          <div class="content">
            <a class="header">InspireAMZ</a>
            <div class="meta">
              <a target="_blank" href="http://www.inspireamz.com">http://www.inspireamz.com</a>
            </div>
            <div class="description">Tools For Amazon Sellers That Does All The Grunt Work For You.</div>
          </div>
          <div class="extra content">Ruby on rails 4, slim, rspec, twitter bootstrap, css3, html5, coffeescript, scss etc.</div>
        </div>
        <div class="card">
          <div class="image">
            <img src="https://dl.dropboxusercontent.com/u/10703333/athenasol/images/newjob.png">
          </div>
          <div class="content">
            <a class="header">Newjobapp</a>
            <div class="meta">
              <a target="_blank" href="https://newjobapp.herokuapp.com">https://newjobapp.herokuapp.com</a>
            </div>
            <div class="description">
              Simple application for filtering required candidate for a particular job.
            </div>
          </div>
          <div class="extra content">
            Ruby on rails 4, semantic UI, jquery, slim, rspec, css3, html5, coffeescript, scss and active admn.
          </div>
        </div>
      </div>
      <div class="ui three stackable cards">
        <div class="card">
          <div class="image">
            <img src="https://dl.dropboxusercontent.com/u/10703333/athenasol/images/perk.png">
          </div>
          <div class="content">
            <a class="header">PerksApp</a>
            <div class="meta">
              <a target="_blank" href="https://perksapp.herokuapp.com">https://perksapp.herokuapp.com</a>
            </div>
            <div class="description">This is a basic application with multiple braintree subscription plans. The user can send invitation to another user based on his/her plan.</div>
          </div>
          <div class="extra content">Ruby on rails 4, braintree integration, mandrill integration, heroku, slim, html, css3, jquery, twitter bootstrap and rails admin.</div>
        </div>
        <div class="card">
          <div class="image">
            <img src="https://dl.dropboxusercontent.com/u/10703333/athenasol/images/mamapedia.png">
          </div>
          <div class="content">
            <a class="header">Mamapedia</a>
            <div class="meta">
              <a target="_blank" href="http://www.mamapedia.com">http://www.mamapedia.com</a>
            </div>
            <div class="description">
              Mamapedia connects moms at every stage of their children's lives to compelling content from the source they trust most: other moms.
            </div>
          </div>
          <div class="extra content">
            Ruby on rails 2.3 and 3, VM and Vagrant.
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="https://dl.dropboxusercontent.com/u/10703333/athenasol/images/royal.png">
          </div>
          <div class="content">
            <a class="header">Royal Tag</a>
            <div class="meta"><a target="_blank" href="https://www.royaltag.com.pk">https://www.royaltag.com.pk</a></div>
            <div class="description">Royal Tag is an international famous textile brand. While working at mezino tech. I had a privilege to work on royal tag website for Pakistan.</div>
          </div>
          <div class="extra content">Tools: Magento, jquery etc.</div>
        </div>
      </div>

      <div class="ui three stackable cards">
        <div class="card">
          <div class="image">
            <img src="https://dl.dropboxusercontent.com/u/10703333/athenasol/images/du.png">
          </div>
          <div class="content">
            <a class="header">Duwheels</a>
            <div class="meta">
              <a target="_blank" href="http://www.duwheels.com">http://www.duwheels.com</a>
            </div>
            <div class="description">
              Duwheels.com is a Part of DuWheels DMCC. Whether you're buying or Leasing a car, it makes the whole process easier than ever before. Our site provides updated prices for used cars, Rent a car's, Car care services and consumer reviews from the automotive world.
            </div>
          </div>
          <div class="extra content">
            Ruby on rails 2.3, javascript, jquery, jquery UI, devise etc.
          </div>
        </div>
        <div class="card">
          <div class="image">
          <img src="https://dl.dropboxusercontent.com/u/10703333/athenasol/images/coding.png">
          </div>
          <div class="content">
            <a class="header">Codingstack</a>
            <div class="meta">
              http://www.codingstack.com
            </div>
            <div class="description">
              Questions and answers posting website.
            </div>
          </div>
          <div class="extra content">Django, python.</div>
        </div>
      </div>
    </div>
  </div>

  <div id="contactus" class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui vertical masthead center aligned vertical segment">
    <div class="ui container">
    </div>
    <div class="ui vertical stripe segment">
      <div class="ui text container">
        <h1>CONTACT US</h1>
        <form class="ui form contactForm">
          <div class="two fields">
            <div class="field">
              <input name="first_name" type="text" placeholder="First name">
            </div>
            <div class="field">
              <input name="last_name" type="text" placeholder="Last name">
            </div>
          </div>
          <div class="field">
            <input id="email" type="email" name="email" placeholder="E-mail">
          </div>
          <div class="field">
            <input id="subject" type="text" name="subject" placeholder="Subject">
          </div>
          <div class="field">
            <textarea id="message" name="message" placeholder="Type your message here ..."></textarea>
          </div>
          <div class="ui error message"></div>
          <div class="ui teal submit button">Submit</div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Home</a>
          <a href="#" class="item">Projects</a>
          <a href="#" class="item">Contact Us</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">ATHENASOL™</h4>
        <p>2015-2016</p>
      </div>
    </div>
  </div>
</div>